<div class="field">
  <%= form.label :Prenom %>
  <%= form.number_field :Prenom, id: :enfant_Prenom %>
</div>

<div class="field">
  <%= form.label :Nom %>
  <%= form.number_field :Nom, id: :enfant_Nom %>
</div>

<div class="field">
  <%= form.label :DateNaissance %>
  <%= form.datetime_select :DateNaissance, id: :enfant_DateNaissance %>
</div>
